@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.abel{
  font-family: 'Abel', sans-serif;
}

.fjalla-n{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

.fjalla{
  font-family: 'Fjalla One', sans-serif;
}

.bg-color-text{
  color: #1C2E37;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}
